---

     - name: Set root default password
       mysql_user:
         name: root
         password: martin**%%
         priv: '*.*:ALL,GRANT'
         state: present
         check_implicit_admin: yes
       ignore_errors: yes
       tags: mariadbrdf


     - name: Create a new database with name 'racktables2'
       mysql_db:
         name: racktables2
         login_user: root
         login_password: martin**%%
         state: present
       tags: mariadb

     - name: Create database user with name rackuser
       mysql_user:
         name: rackuser
         login_user: root
         login_password: martin**%%
         password: 123456
         priv: 'racktables2.*:ALL'
         state: present
       tags: mariadbuser

     - name: Flushe database privileges
       mysql_user:
         name: root
         login_user: root
         login_password: martin**%%
         priv: '*.*:ALL,GRANT'
         state: present
         check_implicit_admin: yes
       ignore_errors: yes 
       tags: mariadbroot




     # vars_prompt:
     #  - name: "Press Enter"
      #   prompt: "Enter"


# mysql -u root -p
# mariadb> flush privileges;
# mariadb> exit




...
